<div class="password-input-container">

  <label class="input-label" [for]="fieldName">
    <span class="is-required">{{label}}</span>
  </label>

  <input
    class="input-field"
    [name]="fieldName"
    [id]="fieldName"
    [ngClass]="{'has-error': (formField?.invalid && formField?.dirty) }"
    [value] = "value"
    (input)="onChange($event)"
    (blur)="touched()"
    [disabled]="isDisabled"
    tabindex="0"
    type="text"
    autocomplete="off">

  <div class="api-call" *ngIf="formField?.pending">Calling the API and checking if the password is strong enough...</div>



  <label class="errors">
    <span class="field-error"
          *ngIf="formField?.hasError('noMatch') && formField?.dirty">
      This value must be the same as the new password.
    </span>
    <span class="field-error"
          *ngIf="formField?.hasError('required') && formField?.dirty">
      This is a required field.
    </span>
    <span class="field-error"
          *ngIf="formField?.hasError('noSpecialCharacter') && formField?.dirty">
      No special character.
    </span>
    <span class="field-error"
          *ngIf="formField?.hasError('noDigits') && formField?.dirty">
      No digits.
    </span>
    <span class="field-error"
          *ngIf="formField?.hasError('lessThanEight') && formField?.dirty">
      Less than eight characters.
    </span>
    <span class="field-error"
          *ngIf="formField?.hasError('noLowerAndUpper') && formField?.dirty">
      No lower and uppercase characters.
    </span>
  </label>


</div>
