<div>
  <label class="input-label" [for]="fieldName">
    <span class="is-required">{{label}}</span>
  </label>
  <input
    [name]="fieldName"
    [id]="fieldName"
    [ngClass]="{'has-error': (formField?.invalid && formField?.dirty) }"
    [value] = "value"
    (input)="onChange($event)"
    (blur)="touched()"
    [disabled]="isDisabled"
    tabindex="0"
    type="password"
    autocomplete="off">
  <label class="errors">
        <span class="field-error"
              *ngIf="formField?.hasError('required') && formField?.dirty">
      This is a required field.
    </span>
    <span class="field-error"
          *ngIf="formField?.hasError('noSpecialCharacter') && formField?.dirty">
      No special character.
    </span>
  </label>


</div>
