<div class="password-input-container">

  <label class="input-label" [for]="fieldName">
    <span class="is-required">{{label}}</span>
  </label>

  <input
    class="input-field"
    [name]="fieldName"
    [id]="fieldName"
    [ngClass]="{'has-error': (formField?.invalid && formField?.dirty) }"
    [value] = "value"
    (input)="onChange($event)"
    (blur)="touched()"
    [disabled]="isDisabled"
    tabindex="0"
    type="text"
    autocomplete="off">

  <div class="api-call" *ngIf="formField?.pending">Calling the API and checking if the password is strong enough...</div>
  <field-errors class="errors" [formField]="formField"></field-errors>
</div>
