<div [formGroup]="form">
  <password-input
    [parentForm]="form"
    fieldName="oldPassword"
    label="Old password"
    formControlName="oldPassword"
    (ngModelChange)="oldPasswordChanged()"
  ></password-input>
  <pre>{{oldPassword.errors | json}}</pre>

  <br>
  <password-input
    [parentForm]="form"
    fieldName="newPassword"
    label="New password"
    formControlName="newPassword"
    (ngModelChange)="newPasswordChanged()"
  ></password-input>
  <error-rules [errors]="newPassword.errors" [touched]="newPassword.touched"></error-rules>
  <pre>Touched: {{newPassword.touched}} Dirty: {{newPassword.dirty}}</pre>

<br>
  <password-input
    [parentForm]="form"
    fieldName="repeatPassword"
    label="Repeat password"
    formControlName="repeatPassword"
    (ngModelChange)="repeatPasswordChanged()"
  ></password-input>

  <pre>{{repeatPassword.errors | json}}</pre>
</div>
