<div [formGroup]="form">
  OLD
  <input
  #oldPassword
  tabindex="0"
  type="password"
  autocomplete="off"
  formControlName="oldPassword"
  (ngModelChange)="oldPasswordChanged()"
/>
{{form.get('oldPassword').errors | json}}

<br>
NEW
  <input
  #newPassword
  tabindex="0"
  type="password"
  autocomplete="off"
  formControlName="newPassword"
  (ngModelChange)="newPasswordChanged()"
  [readonly]=""
/>
{{form.get('newPassword').errors | json}}
<br>
REPEAT
  <input
  #repeatPassword
  tabindex="0"
  type="password"
  autocomplete="off"
  formControlName="repeatPassword"
  (ngModelChange)="repeatPasswordChanged()"
/>
{{form.get('repeatPassword').errors | json}}
</div>
