<div [formGroup]="form">
  OLD
  <input
  tabindex="0"
  type="password"
  autocomplete="off"
  formControlName="oldPassword"
  (ngModelChange)="oldPasswordChanged()"
/>
{{form.get('oldPassword').errors | json}}

<br>

  <new-password
    formControlName="newPasswordWrapper"
    (ngModelChange)="newPasswordChanged()"
  ></new-password>
  <pre>{{form.get('newPasswordWrapper').errors | json}}</pre>

<br>
REPEAT
  <input
  tabindex="0"
  type="password"
  autocomplete="off"
  formControlName="repeatPassword"
  (ngModelChange)="repeatPasswordChanged()"
/>
{{form.get('repeatPassword').errors | json}}
</div>
