<div class="copy" (click)="copy()">
  <button>Copy password: Pass!123^ &#9992;</button>
  <span class="copied"*ngIf="copied" @myCopyTrigger>
    Copied to the clipboard the text: <span class="red">Pass!123^</span>
  </span>

</div>

<div [formGroup]="form">
  <password-change formControlName="password"></password-change>
</div>

<div class="messages">
  <b>[APP Component]</b>> Error handling
  <pre>{{password.errors | json}}</pre>
  <b>[App Component]</b> Reading the value from the inner form control
  <pre>{{password.value?.newPassword | json}}</pre>
</div>
