<div class="app-container">
  <div class="left">
    <div class="messages">

      <div class="copied"*ngIf="copied" @myCopyTrigger>
        Copied <span class="red">Pass!123^</span> to the clipboard.
      </div>

      <div class="copy" (click)="copy()">
        <button>Copy password < Pass!123^ > &#9992;</button>
      </div>

      <b>[APP Component]</b> Error handling
      <pre *ngIf="password.errors">{{password.errors | json}}</pre>
      <pre *ngIf="!password.errors">The password change fields are valid &#9989;</pre>
      <b>[App Component]</b> Inner form control
      <pre class="form-control-value">{{password.value?.newPassword | json}}</pre>
    </div>
  </div>

  <div class="right">

    <div [formGroup]="form">
      <password-change formControlName="password"></password-change>
    </div>
  </div>

</div>
