:host {
  .error-rules {
    width: 294px;
    background-color: #fafafa;
    padding:10px;
    font-size:12px;
    border: 1px solid #dedede;
    margin-bottom: 10px;
  }

  .invalid {
    color: crimson;
  }
  .valid {
    color: green;
  }
}
