<div class="error-rules">
  <div
    [ngClass]="{
    'valid': !errors?.lessThanEight
    }">
    <span *ngIf="!errors?.lessThanEight">&#9989;</span><span *ngIf="errors?.lessThanEight">&#11036;</span>
    Eight or more
  </div>
  <div
    [ngClass]="{
    'valid': !errors?.noDigits
    }">
    <span *ngIf="!errors?.noDigits">&#9989;</span><span *ngIf="errors?.noDigits">&#11036;</span>
    Digit
  </div>
  <div
    [ngClass]="{
    'valid': !errors?.noSpecialCharacter
    }">
    <span *ngIf="!errors?.noSpecialCharacter">&#9989;</span><span *ngIf="errors?.noSpecialCharacter">&#11036;</span>
    Special character
  </div>
  <div
    [ngClass]="{
    'valid': !errors?.noLowerAndUpper
    }">
    <span *ngIf="!errors?.noLowerAndUpper">&#9989;</span><span *ngIf="errors?.noLowerAndUpper">&#11036;</span>
    Lower and uppercase
  </div>
  <div
    [ngClass]="{
    'valid': (!errors && !pending)
    }">
    <span *ngIf="(!errors && !pending)">&#9889;</span><span *ngIf="!(!errors && !pending)">&#11036;</span>
    Strong password
  </div>


</div>
